<div class="register-container">
  <div class="register-image-container">
    <div class="register-background-content">
      <img src="./assets/auth-images/fondo.png" alt="image" class="register-background">
      <div class="register-fromzero-logo">
        <img src="./assets/auth-images/logo.png" alt="Logo">
      </div>
    </div>
  </div>
  <div class="register-form-container">
    <div class="register-form-content">
      <form [formGroup]="registerForm" style="display: block; text-align: center">

        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput formControlName="email" placeholder="Ingresar Correo">
          </mat-form-field>
        </div>

        <div *ngIf="registerForm.get('accountType')?.value === '0'">
          <mat-form-field class="example-full-width">
            <mat-label>Nombre de la empresa</mat-label>
            <input matInput formControlName="companyName" placeholder="Ingresar nombre de la empresa">
          </mat-form-field>
        </div>

        <div *ngIf="registerForm.get('accountType')?.value === '1'">
          <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="developerName" placeholder="Ingresar nombre del desarrollador">
          </mat-form-field>
        </div>

        <div *ngIf="registerForm.get('accountType')?.value === '1'">
          <mat-form-field class="example-full-width">
            <mat-label>Apellidos</mat-label>
            <input matInput formControlName="developerLastName" placeholder="Ingresar nombre del desarrollador">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" type="password" placeholder="Ingresar Contraseña">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Usuario</mat-label>
            <mat-select formControlName="accountType">
              <mat-option value="0">Empresa</mat-option>
              <mat-option value="1">Desarrollador</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="flex gap-3" *ngIf="accountCreated">
          <p class="text-green-500 text-xl">Cuenta creada con éxito.</p>
          <mat-icon class="text-green-500">check_circle_outline</mat-icon>
        </div>

        <div>
          <a mat-flat-button color="primary" (click)="register()">Crear Cuenta</a>
        </div>

        <div>
          <a mat-button routerLink="/login" >Iniciar Sesión</a>
        </div>

      </form>
    </div>
  </div>
</div>


