<div class="flex items-center justify-center w-full h-full">
  <div class="container w-4/6 h-5/6 bg-white border-2 border-gray-500 shadow-xl shadow-gray-600 md:w-3/4">
    <mat-card>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="m-5">
        <div class="p-3 flex justify-around">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRA3o2AjctAbpo5wyonI6CJN10uejfkoCiXi5uGdxV9lA&s" alt="Avatar" class="w-10 h-10 rounded-full">
          <mat-form-field class="w-5/6 h-16">
            <input matInput placeholder="Titulo del proyecto" formControlName="title">
          </mat-form-field>
        </div>
        <hr>
        <div class="p-3 flex flex-col">
          <label for="description">Descripcion</label>
          <mat-form-field class="h-full">
            <textarea id="description" matInput formControlName="description"></textarea>
          </mat-form-field>
        </div>
        <hr>
        <div class="mb-3 flex justify-around md:flex-wrap sm:flex-wrap">
          <div class="mb-3">
            <div class="flex flex-col">
              <label for="tipoPagina">Tipo de Proyecto</label>
              <mat-form-field>
                <mat-select id="tipoPagina" formControlName="projectType">
                  <mat-option value="1">Página web</mat-option>
                  <mat-option value="2">Aplicación web</mat-option>
                  <mat-option value="3">Aplicación de escritorio</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <hr>
            <div class="flex flex-col">
              <label for="tecnologias">Tecnologías</label>
              <mat-checkbox id="tecnologias" [formControl]="hide" #techCheckbox>Tecnologías sin determinar</mat-checkbox>
              <div class="flex gap-3">
                <div class="flex flex-col">
                  <label>Lenguajes</label>
                  <mat-form-field>
                    <mat-select id="lenguajesProgramacion" formControlName="programmLenguageType" [disabled]="techCheckbox.checked" (selectionChange)="selectedLanguages.push($event.value)">
                      <mat-option value="HTML">HTML</mat-option>
                      <mat-option value="CSS">CSS</mat-option>
                      <mat-option value="JavaScript">JavaScript</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngFor="let language of selectedLanguages; let i = index" class="flex justify-between">
                    <p>{{ language }}</p>
                    <mat-icon class="text-red-600" (click)="removeSelection(i, selectedLanguages)">delete</mat-icon>
                  </div>
                </div>
                <div class="flex flex-col">
                  <label>Frameworks</label>
                  <mat-form-field>
                    <mat-select id="frameworksProgramacion" formControlName="programFrameworksType" [disabled]="techCheckbox.checked" (selectionChange)="selectedFrameworks.push($event.value)">
                      <mat-option value="React.js">React.js (Frontend)</mat-option>
                      <mat-option value="Node.js">Node.js (Backend)</mat-option>
                      <mat-option value="Express.js">Express.js (Backend)</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngFor="let frameworks of selectedFrameworks; let i = index" class="flex justify-between">
                    <p>{{ frameworks }}</p>
                    <mat-icon class="text-red-600" (click)="removeSelection(i, selectedFrameworks)">delete</mat-icon>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div>
              <h3>Recursos y Documentación</h3>
              <input type="file" (change)="onFilesSelected($event)" accept=".pdf, image/*" multiple>
            </div>
          </div>
          <div class="mb-3">
            <div class="flex flex-col">
              <label for="presupuesto">Presupuesto</label>
              <mat-form-field>
                <textarea id="presupuesto" matInput formControlName="presupuesto"></textarea>
              </mat-form-field>
            </div>
            <hr>
            <div class="flex flex-col w-full">
              <label for="procesosYMetologias">Procesos y Metogologias de desarrollo</label>
              <mat-checkbox id="procesosYMetologias" [formControl]="hide" #processCheckbox>Agregar procesos y metodologias por defecto</mat-checkbox>
              <mat-form-field *ngIf="!processCheckbox.checked">
                <textarea matInput formControlName="procesos"></textarea>
              </mat-form-field>
              <ol *ngIf="processCheckbox.checked" class="w-3/4 flex flex-wrap justify-center">
                <li class="text-xs">Recolección de Requisitos: Definición de requisitos del proyecto en una reunión inicial.</li>
                <li class="text-xs">Desarrollo Iterativo: Metodología ágil con entregas incrementales para retroalimentación temprana.</li>
                <li class="text-xs">Diseño de UI/UX: Creación de prototipos de interfaz centrados en usabilidad y estética.</li>
                <li class="text-xs">Desarrollo Frontend y Backend: Implementación de frontend y backend con código limpio y modular.</li>
                <li class="text-xs">Pruebas y Control de Calidad: Evaluación exhaustiva en todas las etapas para garantizar calidad.</li>
                <li class="text-xs">Implementación y Despliegue: Lanzamiento en entorno de producción tras completar desarrollo y pruebas.</li>
                <li class="text-xs">Mantenimiento y Soporte: Ofrecimiento de soporte continuo, actualizaciones y monitoreo post-lanzamiento.</li>
              </ol>
            </div>
            <div>
              <button mat-flat-button color="primary" class="rounded-full">Publicar Proyecto</button>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
