
<div>

  <div style="margin: auto">
    <form style="display: block; text-align: center">

      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Ingresar tu correo</mat-label>
          <input matInput [formControl]="email" placeholder="Ingresar correo">
        </mat-form-field>

        @if (message) {
          <span style="display: flex">
          <mat-icon aria-hidden="false" aria-label="check icon" fontIcon="check"></mat-icon>
          <h5>Correo enviado con exito</h5>

          </span>
        }


      </div>

      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Titulo de mensaje</mat-label>
          <input matInput placeholder="Ingresar mensaje">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Asunto</mat-label>
          <input matInput placeholder="Ingresar asunto">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Mensaje</mat-label>
          <textarea matInput>Ingresar mensaje</textarea>
        </mat-form-field>
      </div>

      <div>
        <input class="ng-hide" id="input-file-id" multiple type="file" />
        <label for="input-file-id" class="md-button md-raised md primary"></label>
      </div>

      <div>
        <a mat-flat-button (click)="message=email.valid" color="primary">Enviar</a>
      </div>

    </form>

  </div>

</div>
