<div class="container">
  <div class="title">
    <h1>Proyectos Destacados</h1>
    <h3>Explora mas de 100 proyectos realizados</h3>
  </div>

  <input placeholder="Busqueda de proyectos">


  <div class="buttons">
    <button mat-stroked-button class="b-web-app"
            (click)="filterProjects('Aplicacion Web')">
      Aplicacion Web
    </button>

    <button mat-stroked-button class="b-mobile-app"
            (click)="filterProjects('Aplicacion Movil')">
      Aplicacion Movil
    </button>

    <button mat-stroked-button class="b-design-system"
            (click)="filterProjects('Aplicacion de Escritorio')">
      Aplicacion de Escritorio
    </button>

    <button mat-stroked-button class="b-data-analytics"
            (click)="filterProjects('Analisis de Datos')">
      Analisis de Datos
    </button>

    <button mat-stroked-button class="b-borrar-filtros"
            (click)="filterProjects('Borrar Filtros')">
      Borrar Filtros
    </button>
  </div>

  <ul class="project-list">
    <mat-card class="project-card" *ngFor="let project of filteredProjects">
      <mat-card-header class="card-title">
        <mat-card-title>
          {{ project.type }}: {{ project.title }}
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="project-content">
        <div class="left-content">
          <mat-card-subtitle class="description-title">
            Descripcion
          </mat-card-subtitle>
          <p>{{ project.description }}</p>

          <div class="stars">
            <mat-icon *ngFor="let star of project.stars">star</mat-icon>
          </div>
        </div>
        <img mat-card-image [src]="project.image_url"/>
      </mat-card-content>
    </mat-card>
  </ul>


</div>
