<div class="sidenav" [ngClass]="expand ? 'sidenav-expanded':''">
  <div class="logo-container">
    @if(expand){
    <img src="https://images.vexels.com/media/users/3/142887/isolated/preview/fc58c5ffb8c2e33fc3e15a2453189825-logotipo-de-empresa-logistica-en-crecimiento.png" alt="logo empresa" class="logo">
    }
    <button (click)="expand=!expand" class="btn">
      <img src="https://www.freeiconspng.com/thumbs/menu-icon/menu-icon-24.png" alt="toggle" class="toggle-image">
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item">
      <a href="" class="sidenav-nav-link">
        <img src="" alt="imagen" class="sidenav-link-img">
        @if(expand){
        <span class="sidenav-link-text">Explorar Proyectos</span>
        }
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a href="" class="sidenav-nav-link">
        <img src="" alt="imagen" class="sidenav-link-img">
        @if(expand){
          <span class="sidenav-link-text">Publicar Proyecto</span>
        }
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a href="" class="sidenav-nav-link">
        <img src="" alt="imagen" class="sidenav-link-img">
        @if(expand){
          <span class="sidenav-link-text">Inicio</span>
        }
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a href="" class="sidenav-nav-link">
        <img src="" alt="imagen" class="sidenav-link-img">
        @if(expand){
          <span class="sidenav-link-text">Proyectos Destacados</span>
        }
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a href="" class="sidenav-nav-link">
        <img src="" alt="imagen" class="sidenav-link-img">
        @if(expand){
          <span class="sidenav-link-text">Salir</span>
        }
      </a>
    </li>
  </ul>
</div>
