<div class="sidenav" [ngClass]="expand ? 'sidenav-expanded':''">
  <div class="logo-container">
    @if(expand){
      <img src="https://www.pngkey.com/png/full/309-3095068_free-download-customer-support-icon-blue-clipart-customer.png" alt="foto de perfil por defecto del soporte" class="logo">
    }
    <button (click)="toggleExpand()" class="btn">
      <img src="https://www.freeiconspng.com/thumbs/menu-icon/menu-icon-24.png" alt="toggle" class="toggle-image">
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link">
        <img src="assets/sidenav-images/fromzero.png" alt="inicio" class="sidenav-link-img">
        @if(expand){
          <span class="sidenav-link-text">Inicio</span>
        }
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a routerLink="/login" class="sidenav-nav-link">
        <img src="assets/sidenav-images/Logout.png" alt="salir" class="sidenav-link-img">
        @if(expand){
          <span class="sidenav-link-text">Salir</span>
        }
      </a>
    </li>
  </ul>
</div>
