<div class="flex items-center justify-center w-full h-full">
  <div class="container w-4/6 h-5/6 bg-white border-2 border-gray-500 shadow-xl shadow-gray-600 md:w-3/4">
    <mat-card>
      <form  class="m-5">

        <div class="p-3 flex justify-around">
          <mat-form-field class="w-5/6 h-16">
            <input matInput placeholder="Titulo del problema" formControlName="title">
          </mat-form-field>
        </div>

        <div class="mb-3 flex justify-around md:flex-wrap sm:flex-wrap">
          <div class="mb-3">

            <div class="flex flex-col">
              <label for="tipoPagina">Tipo de Problema</label>
              <mat-form-field>
                <mat-select id="tipoPagina" formControlName="projectType">
                  <mat-option value="1">Problemas de accesibilidad</mat-option>
                  <mat-option value="2">Problemas de compatibilidad</mat-option>
                  <mat-option value="3">Problemas de rendimiento del sistema</mat-option>
                  <mat-option value="4">Problemas de diseño o usabilidad</mat-option>
                  <mat-option value="5">Problemas de respaldo de información</mat-option>
                </mat-select>
              </mat-form-field>
            </div>


          </div>
        </div>



        <hr>
        <div class="p-3 flex justify-around">
          <mat-form-field class="w-5/6">
            <textarea matInput placeholder="Descripción del problema" formControlName="mensaje" style="height: 180px;"></textarea>
          </mat-form-field>
        </div>
        <hr>

        <div class="p-3 flex justify-around">
          <div>
            <input class="ng-hide" id="input-file-id" multiple type="file" />
            <label for="input-file-id" class="md-button md-raised md primary"></label>
          </div>

        </div>

        <div class="p-3 flex justify-around">
          <div>
            <a mat-flat-button color="primary">Enviar</a>
          </div>
        </div>


      </form>
    </mat-card>
  </div>
</div>
