<div class="recover-pass-container">
  <div class="recover-pass-image-container">
    <div class="recover-pass-background-content">
      <img src="./assets/auth-images/fondo.png" alt="image" class="recover-pass-background">
      <div class="recover-pass-fromzero-logo">
        <img src="./assets/auth-images/logo.png" alt="Logo">
      </div>
    </div>
  </div>
  <div class="recover-pass-form-container">
    <div class="recover-pass-form-content">
      <form style="display: block; text-align: center">

        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Ingresar tu correo</mat-label>
            <input matInput [formControl]="email" placeholder="Ingresar correo">
          </mat-form-field>

          @if (message) {
            <span style="display: flex">
          <mat-icon aria-hidden="false" aria-label="check icon" fontIcon="check"></mat-icon>
          <h5>Correo enviado con exito</h5>

          </span>
          }

        </div>

        <div>
          <a mat-flat-button (click)="message=email.valid" color="primary">Enviar correo</a>
        </div>

        <div>
          <a mat-button routerLink="/login" >Volver a iniciar sesión</a>
        </div>

      </form>
    </div>
  </div>
</div>
