<div style="display: flex; align-items: center; background-color: white">
  <div class="auth-image" style="position: relative;">
    <img src="./assets/auth-images/fondo.png" alt="Fondo" class="login-BG">
    <div class="login-logo" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <img src="./assets/auth-images/logo.png" alt="Logo">
    </div>
  </div>

  <div style="margin: auto">
    <form style="display: block; text-align: center">

      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Ingresar tu correo</mat-label>
          <input matInput [formControl]="email" placeholder="Ingresar correo">
        </mat-form-field>

        @if (message) {
          <span style="display: flex">
          <mat-icon aria-hidden="false" aria-label="check icon" fontIcon="check"></mat-icon>
          <h5>Correo enviado con exito</h5>

          </span>
        }


      </div>


      <div>
        <a mat-flat-button (click)="message=email.valid" color="primary">Enviar correo</a>
      </div>

      <div>
        <a mat-button routerLink="/login" >Volver a iniciar sesión</a>
      </div>


    </form>

  </div>

</div>
