<div class="container w-full h-full">
  <mat-card>
    <mat-card-header class="flex justify-between mb-3 align-middle items-center">
      <mat-card-title>{{perfilEnterprise?.companyName}}</mat-card-title>
      <img mat-card-image :src="{{perfilEnterprise?.profileImgUrl}}" alt="Perfil de usuario" class="w-12 h-12">
      <a routerLink="/app-developer/main/shared/message">
        <mat-icon class="text-purple-500 hover:bg-gray-200">message</mat-icon>
      </a>
    </mat-card-header>
    <div class="flex justify-center">
      <hr class="w-5/6 text-gray-500">
    </div>
    <mat-card-content>
      <div class="flex gap-2">
        <div>
          <p class="text-gray-500 font-bold">Resumen</p>
          <p>{{perfilEnterprise?.description}}</p>
        </div>
      </div>
    </mat-card-content>
    <div class="flex justify-center">
      <hr class="w-5/6 text-gray-500">
    </div>
    <mat-card-content>
      <div class="flex gap-2 justify-between w-full">
        <div class="flex justify-between gap-10 w-11/12 mt-3">
          <p class="text-gray-500 font-bold">País</p>
          <p>{{perfilEnterprise?.country}}</p>
        </div>
      </div>
    </mat-card-content>
    <div class="flex justify-center">
      <hr class="w-5/6 text-gray-500">
    </div>
    <mat-card-content>
      <div class="flex gap-2 justify-between w-full">
        <div class="flex justify-between w-11/12 mt-3">
          <p class="text-gray-500 font-bold">Telefono</p>
          <p>{{perfilEnterprise?.phone}}</p>
        </div>
      </div>
    </mat-card-content>
    <div class="flex justify-center">
      <hr class="w-5/6 text-gray-500">
    </div>
    <mat-card-content>
      <div class="flex gap-2 justify-between w-full">
        <div class="flex justify-between gap-10 w-11/12 mt-3">
          <p class="text-gray-500 font-bold">Correo</p>
          <p>{{perfilEnterprise?.email}}</p>
        </div>
      </div>
    </mat-card-content>
    <div class="flex justify-center">
      <hr class="w-5/6 text-gray-500">
    </div>
    <mat-card-content>
      <div class="flex gap-2 justify-between w-full">
        <div class="flex justify-between gap-10 w-11/12 mt-3">
          <p class="text-gray-500 font-bold">RUC</p>
          <p>{{perfilEnterprise?.ruc}}</p>
        </div>
      </div>
    </mat-card-content>
    <div class="flex justify-center">
      <hr class="w-5/6 text-gray-500">
    </div>
    <mat-card-content>
      <div class="flex gap-2 justify-between w-full">
        <div class="flex justify-between gap-10 w-11/12 mt-3">
          <p class="text-gray-500 font-bold">Sector</p>
          <p>{{perfilEnterprise?.sector}}</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
