<mat-dialog-content class="dialog">
  <h2 class="title">¿Estas seguro(a) que deseas postular?</h2>
  <mat-icon class="icon" style="transform: scale(2)">warning_amber</mat-icon>
  <p class="text">Una vez confirmado, la empresa podrá observar to postulación</p>
  <div class="buttons">
    <button mat-stroked-button class="b-aceptar" (click)="apply()">
      Aceptar
    </button>
    <button mat-stroked-button class="b-cancelar" (click)="closeDialog()">
      Cancelar
    </button>
  </div>
</mat-dialog-content>
