.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 50px;
  max-width: 800px;
  margin: 100px auto;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

header .logo {
  width: 50px;
  height: auto;
  margin-right: 16px;
}

header h1 {
  font-size: 1.5em;
  margin: 0;
}

.description {
  margin-bottom: 16px;
}

.description p {
  margin: 0;
  white-space: pre-line;
}

.content {
  display: flex;
  justify-content: space-between;
}

.technologies, .budget, .process {
  flex: 1;
  margin: 0 8px;
}

.technologies h2, .budget h2, .process h2 {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.technologies h3 {
  font-size: 1em;
  margin: 8px 0;
}

.technologies ul li {
  margin: 4px 0;
}


.process ol li {
  margin: 8px 0;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
