<mat-card class="card">
  <header>
    <h1>{{ project?.name }}</h1>
  </header>
  <section class="description">
    <p>
      {{ project?.description }}
    </p>
  </section>
  <section class="content">
    <div class="technologies">
      <h2>Tecnologías</h2>
      <div>
        <h3>Lenguajes</h3>
        <ul>
          @for(language of project?.languages; track language) {
            <li>{{ language }}</li>
          }
        </ul>
      </div>
      <div>
        <h3>Frameworks</h3>
        <ul>
          @for (framework of project?.frameworks; track framework) {
            <li>{{ framework }}</li>
          }
        </ul>
      </div>
    </div>
    <div class="budget">
      <h2>Presupuesto:</h2>
      <p>
        {{ project?.budget }}
      </p>
    </div>
    <div class="process">
      <h2>Procesos y Metodologías de Desarrollo</h2>
      <ol style="height: 270px; overflow-x: hidden;
                  overflow-y: auto; margin-right: 30px;">
        @for (methodology of methodologies; track $index){
          <li>
            <p><strong>{{$index+1}}. {{methodology?.name}}</strong></p>
            <p>{{methodology?.description}}</p>
          </li>
        }
        <!--
        <li>
          Recolección de Requisitos: Definición de requisitos del proyecto en
          una reunión inicial.
        </li>
        <li>
          Desarrollo Iterativo: Metodología ágil con entregas incrementales
          para retroalimentación temprana.
        </li>
        <li>
          Diseño de UI/UX: Creación de prototipos de interfaz centrados en
          usabilidad y estética.
        </li>
        <li>
          Desarrollo Frontend y Backend: Implementación de frontend y backend
          con código limpio y modular.
        </li>
        <li>
          Pruebas y Control de Calidad: Evaluación exhaustiva en todas las
          etapas para garantizar calidad.
        </li>-->
      </ol>
    </div>
  </section>
  <section class="button">
    <button mat-stroked-button class="delv-button" (click)="openDialog()">
      Postular a Proyecto
    </button>
  </section>
</mat-card>
