<mat-card class="card">
    <header>
        <h1>{{project.name}}</h1>
    </header>
    <section class="description">
        <p>
          {{project.description}}
        </p>
    </section>
    <section class="content">
        <div class="technologies">
            <h2>Tecnologías</h2>
            <div>
                <h3>Lenguajes</h3>
                <ul>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>JavaScript</li>
                </ul>
            </div>
            <div>
                <h3>Frameworks</h3>
                <ul>
                    <li>React.js (Frontend)</li>
                    <li>Node.js (Backend)</li>
                    <li>Express.js (Backend)</li>
                </ul>
            </div>
        </div>
        <div class="budget">
            <h2>Presupuesto: {{project.budget}}</h2>
            <p>
                El presupuesto asignado para este proyecto es de {{project.budget}} USD,
                incluyendo el costo de desarrollo, pruebas, implementación y
                mantenimiento inicial durante los primeros seis meses.
            </p>
        </div>
        <div class="process">
            <h2>Procesos y Metodologías de Desarrollo</h2>
            <ol>
                <li>
                    Recolección de Requisitos: Definición de requisitos del proyecto en
                    una reunión inicial.
                </li>
                <li>
                    Desarrollo Iterativo: Metodología ágil con entregas incrementales
                    para retroalimentación temprana.
                </li>
                <li>
                    Diseño de UI/UX: Creación de prototipos de interfaz centrados en
                    usabilidad y estética.
                </li>
                <li>
                    Desarrollo Frontend y Backend: Implementación de frontend y backend
                    con código limpio y modular.
                </li>
                <li>
                    Pruebas y Control de Calidad: Evaluación exhaustiva en todas las
                    etapas para garantizar calidad.
                </li>
            </ol>
        </div>
    </section>
    <section class="button">
        <button mat-stroked-button class="delv-button" (click)="openDialog()">
            Postular a Proyecto
        </button>
    </section>
</mat-card>
