<div class="footer-container">
  <!--<div class="footer-support-section">
    <div class="footer-support-text">
      <p>Necesitas soporte al cliente?</p>
      <p>Escríbenos y soporte técnico se pondrá en contacto.</p>
    </div>
    <div class="footer-support-link">
      <a routerLink="/shared/support">Soporte</a>
    </div>
  </div>-->
  <div class="footer-content">
    <div class="footer-logo">
      <img src="./assets/footer-images/fromzero-logo.png" alt="fromzero-logo">
    </div>
    <div class="footer-text">
      <p>
        &copy; 2024 SiteForge. Todos los derechos reservados. Todas las marcas pertenecen a sus respectivos dueños en
        EE.UU. y el resto del mundo
      </p>
    </div>
    <div class="footer-contact">
      <p>Contactanos</p>
      <div class="footer-contact-images">
        <img src="./assets/footer-images/facebook.png" alt="facebook">
        <img src="./assets/footer-images/linkedin.png" alt="linkedin">
        <img src="./assets/footer-images/x-logo.png" alt="x">
        <img src="./assets/footer-images/instagram.png" alt="instagram">
      </div>
    </div>
  </div>
</div>
