<div class="delvs-container">
  <div class="delvs-title">
    <h1>Cronograma de entregables</h1>
    <h3>{{ enterprise.projects.name }}</h3>
    <h5>{{ enterprise.name }}</h5>
  </div>
  <div class="delvs-content">
    <ul class="delvs-list">
      @for (delv of deliverables; track delv.d_number) {
        <li class="deliverable">
          <mat-card>
            <a [routerLink]="">
              <mat-card-header>
                <mat-card-title>
                  Entregable {{ delv.d_number }}: {{ delv.title }}
                </mat-card-title>
              </mat-card-header>
            </a>
            <mat-card-content>
              <div class="delv-details">
                <div class="delv-description">
                  <h3>Descripción</h3>
                  {{ delv.description }}
                </div>
                <div class="delv-deadline-state">
                  <div>
                    <img src="assets/deliverables-images/expiration-date.png" alt="expiration date">
                    <p>Fecha límite</p>
                    <p>{{delv.expiration_date | date:'shortDate'}}</p>
                  </div>
                  <div>
                    <img src="assets/deliverables-images/state.png" alt="state">
                    <p>Estado</p>
                    <p>{{delv.state}}</p>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </li>
      }
    </ul>
  </div>
  <div class="delv-add">
    <button mat-icon-button aria-label="add deliverable"
            (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
