.mat-sm> .mat-mdc-text-field-wrapper.mat-mdc-form-field-flex{
  height: 35px!important;
}
.mat-sm> .mat-mdc-text-field-wrapper.mdc-text-field--outlined.mat-mdc-form-field-infix  {
  padding-top: 8px!important;
}
.mat-sm>  .mat-mdc-text-field-wrapper.mat-mdc-form-field-flex.mat-mdc-floating-label{
  top: 17px;
}
.mat-sm>  .mat-mdc-text-field-wrapper.mat-mdc-form-field-flex.mdc-floating-label--float-above{
  top: 28px;
}
