.sidenav {
  background-color: white;
  transition: all .5s ease;
  position: fixed;
  z-index: 1;
  top: 20%;
  left: 0;
  width: 6rem; /*Ancho de la sidenav*/
  height: 50vh; /*Altura de la sidenav*/
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

  .logo-container {
    display: flex;
    align-items: center;
    padding-top: 0.9rem;
    margin: auto;
    width: 100%;


    .logo {
      text-align: center;
      width: 2rem;
      min-height: 2rem;
      margin: auto;
      font-size: 8px;
      font-weight: 900;
      border: none;
    }

    .btn {
      margin: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border: none;
      background-color: transparent;

      .toggle-image {
        font-size: 8px;
        width: 1.5rem;
        min-width: 1.5rem;
      }

    }

  }

}

.sidenav-expanded {
  width: 13rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.sidenav-nav {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.65rem);
  cursor: pointer;

  .sidenav-nav-item {
    width: 100%;
    margin: auto;

    .sidenav-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      color: black;
      text-decoration: none;
      transition: color .3s ease;

      .sidenav-link-img {
        font-size: 8px;
        width: 1.5rem;
        max-width: 1.5rem;
        margin: 0 2rem;
        text-align: center;

      }

      .sidenav-link-text {
        margin-right: auto;
        font-size: 8px;
      }
    }
    .sidenav-nav-link:hover{
      background-color:lightgray;
    }
  }

}

@media screen and (max-width: 800px) {
  .sidenav{
    top: 20%;
    height: 40vh;
  }
  .sidenav-nav{
    height: calc(100% - 25rem);
  }
}
